// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  border-left: 8px solid lightgrey;
  padding: 16px;
  line-height: 2;
}

a {
  color: blue;
  &:hover {
    color: black;
  }
}

.coach {
  background-color: lightyellow;
}
